<div class="query_page flex">
  <div class="aside bg-indigo-400">
    <div class="query_link">
      <a href="#" class="function">文章列表</a>
      <i>icon</i>
    </div>
    <div class="query_link">
      <a href="#" class="function">聲量</a>
      <i>icon</i>
    </div>
    <div class="query_link">
      <a href="#" class="function">情緒</a>
      <i>icon</i>
    </div>
    <div class="query_link">
      <a href="#" class="function">競爭</a>
      <i>icon</i>
    </div>
    <div class="query_link">
      <a href="#" class="function">自動化議題</a>
      <i>icon</i>
    </div>
    <div class="query_link">
      <a href="#" class="function">文字雲</a>
      <i>icon</i>
    </div>
    <div class="query_link">
      <a href="#" class="function">擴散</a>
      <i>icon</i>
    </div>
    <div class="query_link">
      <a href="#" class="function">使用者設定</a>
      <i>icon</i>
    </div>

  </div>

  <div class="section">
    <div class="choice_page flex">
      <div class="theme">
        <p class="theme_item">主題區</p>
        <div class="checkbox">
          <div><input type="checkbox" name="" value="">空氣清淨機</div>
          <div><input type="checkbox" name="" value="">博弈產業</div>
          <div><input type="checkbox" name="" value="">你想知道什麼？</div>
          <div><input type="checkbox" name="" value="">你想知道什麼？</div>
          <div><input type="checkbox" name="" value="">你想知道什麼？</div>
        </div>
      </div>
      <div class="time">
        <p class="theme_item">時間區</p>
        <input type="date" name="bday">
        套件待研究
      </div>
      <div class="community">
        <p class="theme_item">社團區</p>
        <div class="checkbox">
          <div><input type="checkbox" name="" value="">Facebook</div>
          <div><input type="checkbox" name="" value="">Dcard</div>
          <div><input type="checkbox" name="" value="">PTT</div>
          <div><input type="checkbox" name="" value="">伊莉論壇</div>
        </div>
      </div>
    </div>
    <div class="button_page">
      <button class="search_btn">立即搜尋</button>
    </div>
    <div class="analy_page bg-pink-500">
      圖表預定地
    </div>
  </div>
</div>