 <div class="login_img">
<<<<<<< HEAD
  <%= image_pack_tag "logo.png", class:"img" %>
=======
  <%= image_tag "/mnt/d/code/demo/SociView/app/javascript/images/logo.png", class: "img" %>
>>>>>>> add volume chart
 </div>

