<!DOCTYPE html>
<html>
<head>
  <title>Oh!Sorry!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

  <style>
  .container{
    max-width: 1200px;
    outline: seagreen solid 1px;
    margin-top: 10%;
  }
  .row{
  }
  .wrong_text{
    width: 100%;
    border: 1px solid #000000;
    /* position: relative; */
  }
  .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent #007bff transparent;
    position: absolute;
  }
  </style>
</head>

<body>
  <div class="wrong_page">
    <div class="container m-auto">
      <div class="row flex justify-around items-center">
        <div class="col-5">
          <div class="wrong_text">
            <p class="text-5xl p-3.5">不好意思這裡不開放參觀唷！</p>
            <div class="triangle"></div>
          </div>
        </div>
        <div class="col-5">
          <div class="logo_page">
            <img src="https://picsum.photos/400/400/?random=1">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

