<div class="footer">
  <div class="row">
    <div class="logo h-7">
    </div>
  </div>
  <div class="col-12">
    <div class="text-center">
        <p>Copyright © 2021. All rights reserved. <span class="text-white">Privacy Policy</span></p>
    </div>
  </div>
</div>