<div class="bg-green-600 py-3">
  <div class="flex justify-between px-10">
    <div class="logo">
      <a class="text-4xl no-underline italic text-white"
        href="/">Soci<span class="text-blue-700">View</span></a>
    </div>
  </div>
  <div class="col-12">
    <div class="text-center">
        <p>Copyright © 2021. All rights reserved. <span class="text-white">Privacy Policy</span></p>
    </div>
  </div>
</div>