<div class="footer">
  <div class="row">
    <div class="logo">
      <a class=""
        href="/">Soci<span class="">View</span></a>
    </div>
  </div>
  <div class="col-12">
    <div class="text-center">
        <p>Copyright © 2021. All rights reserved. <span class="text-white">Privacy Policy</span></p>
    </div>
  </div>
</div>