<div class="navbar">
    <div class="row">
      <div class="logo">
        <a class=""
          href="/">Soci<span class="">View</span></a>
      </div>
      <div class="login_btns">
        <% if current_user %>
          <!-- <#%= render "shared/notice" if notice %> -->
          <div class="m-2 text-xl">您好! <%= current_user.nickname %> </div>
          <%= link_to('登出', destroy_user_session_path, class: "nav_btn", method: :delete) %> 
        <% else %>
          <%= link_to('登入', new_session_path(:user), class: "nav_btn") %>
          <%= link_to('註冊', new_registration_path(:user), class: "nav_btn border-double border-black bg-gray-300") %> 
        <% end %>
      </div>
    </div>
</div>

