<div class="bg-green-600 py-3">
    <div class="flex justify-between px-10">
      <div class="logo">
        <a class="text-4xl no-underline italic text-white"
          href="#">Soci<span class="text-blue-700">View</span></a>
      </div>
      <div class="flex justify-evenly">
        <button class="rounded-full py-3 px-4 bg-green-300">登入</button>
        <button class="log_up rounded-full py-3 px-4 ml-1 aqua">註冊</button>
      </div>
    </div>
</div>


