<div class="nav">
  <div class="container">
    <div class="logo">
      <a href="#">Soci<span>View</span></a>
    </div>
    <div class="nav_button">
      <button class="log_up">註冊</button>
      <button class="log_in">登入</button>
    </div>
  </div>
</div>

