<div class="nav">
    <div class="row">
      <div class="logo col-1">
        <a class="nav_logo"
          href="#">Soci<span>View</span></a>
      </div>
      <div class="nav_button col-1">
        <button class="log_btn log_up">註冊</button>
        <button class="log_btn log_in">登入</button>
      </div>
    </div>
</div>

