<div class="section">
  <div class="choice_page flex">
    <div class="theme">
      <p class="theme_item">主題區</p>
      <div class="checkbox">
        <div><input type="checkbox" name="" value="">
          <span class="theme_text">空氣清淨機</span></div>
        <div><input type="checkbox" name="" value=""> <span class="theme_text">武漢肺炎</span></div>
        <div><input type="checkbox" name="" value=""> <span class="theme_text">你想知道什麼？</span></div>
      </div>
    </div>
    <div class="theme">
      <p class="theme_item">時間區</p>
      <div><input type="date" name="bday"></div>
      <div><input type="date" name="bday"></div>
      套件待研究
    </div>
    <div class="theme">
      <p class="theme_item">社團區</p>
      <div class="checkbox">
        <div><input type="checkbox" name="" value="">
          <span class="theme_text">Dcard</span></div>
        <div><input type="checkbox" name="" value=""> <span class="theme_text">PTT</span></div>
        <div><input type="checkbox" name="" value=""> <span class="theme_text">伊莉論壇</span></div>
      </div>
    </div>
  </div>
  <div class="button_page">
    <button class="search_btn">立即搜尋</button>
  </div>