<div class="head">
  <div class="container">
    <div class="flex justify-center">
      <div class="col-4">
        <div class="img">
          <img src="https://picsum.photos/400/400/?random=1">
        </div>
      </div>
      <div class="col-6 pt150">
        <div class="text-center">
          <h2 class="text-5xl py-8">您的專業社群分析管家</h2>
          <button class="text-3xl bg-white hover:bg-gray-100 text-blue-400 font-semibold py-2 px-4 border border-gray-400 rounded shadow animate-bounce text-gray-900">立即體驗</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg-gray-200">
  <div class="container">
    <div class="text-center my-8">
      <h3 class="text-4xl bg-teal-400">How To Use IT ? </h3>
    </div>
    
    <div class="flex justify-around text-center">
      <div class="col-3">
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <div class="img">
            <img src="https://picsum.photos/300/300/?random=1">
          </div>
          <div class="m-3">
            <p class="text-2xl">Step. 1 選擇分析的主題</p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <div class="img">
            <img src="https://picsum.photos/300/300/?random=2">
          </div>
          <div class="m-3">
            <p class="text-2xl">Step. 2 選擇時間區間</p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <div class="img">
            <img src="https://picsum.photos/300/300/?random=3">
          </div>
          <div class="m-3">
            <p class="text-2xl">Step. 3 選擇分析的社群</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="analysis">
  <div class="container">
    <div class="text-center my-8 bg-indigo-500">
      <h3 class="text-5xl text-white">提供專業的分析圖表</h3>
    </div>

    <div class="analysis_introduction">
      <div class="flex justify-center">
        <div class="col-5">
          <div class="img">
            <img class="rounded shadow" src="https://picsum.photos/400/400/?random=5">
          </div>
        </div>
        <div class="col-5">
          <div class="text-center pt150">
            <h3 class="text-4xl">領袖聲量分析圖</h3>
            <p>藉由圖表分析，讓你快速了解社群媒介由哪些大大們引領話題風潮，</p>
          </div>
        </div>
      </div>

      <div class="flex justify-center">
        <div class="col-5">
          <div class="img">
            <img class="rounded shadow" src="https://picsum.photos/400/400/?random=7">
          </div>
        </div>
        <div class="col-5">
          <div class="text-center pt150">
            <h3 class="text-4xl">領袖聲量分析圖</h3>
            <p>藉由圖表分析，讓你快速了解社群媒介由哪些大大們引領話題風潮，</p>
          </div>
        </div>
      </div>

      <div class="flex justify-center">
        <div class="col-5">
          <div class="img">
            <img class="rounded shadow" src="https://picsum.photos/400/400/?random=8">
          </div>
        </div>
        <div class="col-5">
          <div class="text-center pt150">
            <h3 class="text-4xl">領袖聲量分析圖</h3>
            <p>藉由圖表分析，讓你快速了解社群媒介由哪些大大們引領話題風潮，</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel bg-gray-200">
    <h2 class="text-center text-6xl">預定要用js放個跑馬燈在這裡面先佔個位置</h2>
  </div>





