.disable {
    display: none
}

#validate_theme {
    color: black;
    background-color: red;
}

#validate_time {
    color: black;
    background-color: red;
}

#validate_source {
    color: black;
    background-color: red;
}

#validate_type {
    color: black;
    background-color: red;
}