.home_page{
  @apply m-auto py-8 max-w-screen-2xl;
  .container{
    @apply m-auto;
    .row{
      @apply flex-wrap lg:flex justify-center ;
      .col-4{
        @apply w-full lg:w-1/4 ;
        .logup_img{
          @apply sm:m-auto;
          width: 20em;
          height: 20em;
          svg{
            width: 100%;
            height: 100%;
          }
        }
      }
      .col-6{
        @apply w-full lg:w-1/2 self-center ;
        .logup_text{
          @apply text-center;
          h2{
            @apply text-base lg:text-4xl p-8 font-bold tracking-widest;
          }
          .home_btn{
            @apply text-2xl bg-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded-lg shadow animate-bounce text-blue-400 cursor-pointer ;
          }
          
        }
      }
    }
  }
}

.step_teach{
  @apply hidden lg:block bg-gray-100 font-serif text-center pt-5 pb-10 max-w-screen-2xl m-auto py-8 mb-2;
  .teach_text{
    .text{
      @apply text-4xl text-black py-5 font-bold;
    }
  }
  .container{
    @apply m-auto;
    .row{
      @apply flex justify-between w-4/5 m-auto;
      .col-3{
        width: 20%;
        position: relative;
        .shadow_card{
          @apply max-w-sm rounded-lg shadow-lg;
          box-sizing: border-box;
          .card_bg{
            .img{
              @apply w-full h-full;
            }
            .arrow{
              @apply w-10;
              position: absolute;
              top: 45%;
              right: -25%;
            }
          }
          .card_text{
            @apply m-3 pb-3;
          }
          
        }
      }
    }
  }
}
.analysis{
  @apply font-serif py-5;
  .analysis_title{
    @apply text-center my-8 text-4xl font-bold text-black;
  }
  .container{
    @apply m-auto;
    .home_analy{
      @apply flex justify-center;
      &:nth-child(even){
        @apply flex-row-reverse;
      }
        .col-5{
          @apply w-1/3 px-10 flex flex-col justify-center;
        }
        .analy_txt{
          @apply text-center;
          h3{
            @apply text-2xl py-2;
          }
          p{
            @apply text-base;
          }
        }
    }
  }
}

  

  






















