
#post_div {
  padding: 15px 15px 15px 15px;
  box-sizing: border-box;
  border: 3px red double;
}
#comment_div {
  padding: 15px 15px 15px 15px;
  box-sizing: border-box;
  border: 3px green double;
}
.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}