.query_page {
  @apply max-w-screen-2xl m-auto;
  @media screen and (min-width: 1024px){
    height: calc(100vh - 116px);
  }
  .aside {
    @apply w-full text-center justify-around lg:w-1/6 lg:block bg-white text-black mt-1 rounded-lg lg:text-left;
    .query_link {
      @apply px-2 lg:pl-8 box-border;
      &:hover {
        @apply text-white bg-blue-400 rounded-lg;
      }
      font-size: 1em;
      .function {
        @apply text-2xl lg:text-base block w-full py-3;
        span {
          @apply pr-2;
        }
      }
    }
    .query_link_page {
      @apply text-white bg-blue-400 rounded-lg box-border;
      font-size: 1em;
      .function {
        @apply text-2xl lg:text-base block w-full py-3;
        span {
          @apply pr-2;
        }
      }
    }
  }

  .users_query_page {
    @apply w-full leading-4  bg-gray-200 rounded-lg lg:w-10/12 overflow-hidden overflow-y-scroll lg:py-2 lg:text-left;
    .section {
      @apply rounded w-full px-2 lg:p-0;
      .choice_page {
        @apply lg:flex lg:justify-around lg:pt-1;
        .col-3 {
          @apply w-full;
          @media screen and (min-width: 1024px){
          width: 23%;
          }
          .theme {
            @apply m-5 lg:mb-1 lg:m-0 rounded-lg bg-white;
            box-sizing: border-box;
            .theme_item {
              @apply bg-blue-400 text-white text-xl text-center rounded-t-lg p-2;
              border-bottom: 1px solid black;
            }
            .choice_box {
              @apply bg-white p-2 border-solid border-red-600 h-36 rounded-lg text-lg;
              .choice_item {
                .theme_text {
                  @apply p-1;
                }
              }
            }
          }
        }
      }
    }
    .button_page {
      @apply text-center;
      .search_btn {
        @apply mb-4 lg:my-4 rounded-lg text-white py-3 px-7 font-bold bg-blue-400 cursor-pointer;
        &:hover {
          @apply bg-blue-500;
        }
      }
      //loading效果
      .active {
        margin: 15px 0px;
        width: 50px;
        height: 50px;
        font-size: 0;
        color: transparent;
        border: 5px solid #2563eb;
        background-color: transparent;
        border-radius: 50%;
        outline: none;
        border-left-color: transparent;
        animation: rotate 1.3s ease 0.5s infinite;
        transition: all ease 0.5s;
      }
      @keyframes rotate {
        0% {
          transform: rotate(360deg);
        }
      }
    }
    .analy_page {
      @apply text-center;
    }
  }
}

.disable {
  @apply hidden;
}

.alert {
  @apply text-red-600 font-bold bg-red-200 w-full rounded-b-lg text-center;
}

