<div class="search_list">
  <div class="container">
    <div class="row">
      <h2 class="w-full text-center pb-2 bg-blue-400 rounded-t-lg p-2 text-white text-xl">文字雲</h2>
      <%= render "shared/search_all" %>
    </div>

  </div>
  <div class="chart">
    <div class="row items-center">
      <div class="text-red-500 pl-1"><%= @cloud %></div>
      <% if FileTest.exist?("app/assets/images/wordcloud.png") %>
        <div class=""><%= image_tag("wordcloud.png") %></div>
      <% end %>
    </div>
  </div>
</div>