<%= include_gon(:init => true) %>
<div class="search_list">
  <div class="container">
    <div class="row">
      <h2 class="w-full text-center pb-2 bg-blue-400 rounded-t-lg p-2 text-white text-xl">情緒分析</h2>
      <%= render "shared/search_all" %>
    </div>
  </div>
  <br>
  <div class="chart">
    <canvas id="sentimentPieChart" width="960px" height="400px"></canvas>
  </div>
  <br>
  <div class="chart">
    <canvas id="sentimentBarChart" width="960px" height="400px"></canvas>
  </div>
  <br>
  <div class="chart">
    <canvas id="sentimentLineChart" width="960px" height="400px"></canvas>
  </div>
</div>

