<%= include_gon(:init => true) %>

<div class="search_list">
  <div class="container">
    <div class="row">
      <h2 class="w-full text-center pb-2 bg-blue-400 rounded-t-lg p-2 text-white text-xl">詞頻分析</h2>
      <%= render "shared/search_all" %>
    </div>
  </div>

  <div class="chart">
    <canvas id="verbCount" width="960px" height="400px"></canvas>
  </div>
  <div class="chart">
    <canvas id="nounCount" width="960px" height="400px"></canvas>
  </div>
  <div class="chart">
    <canvas id="adjCount" width="960px" height="400px"></canvas>
  </div>
</div>