<div class="search_list">
  <div class="container">
    <div class="row">
      <h2 class="w-full text-center pb-2 bg-blue-400 rounded-t-lg p-2 text-white text-xl">自動化議題</h2>
      <%= render "shared/search_all" %>
    </div>
  </div>
  <div class="chart">
    <div class="text-red-500 pl-1"><%= @topic %></div>
    <% if FileTest.exist?("#{Rails.root}/app/views/shared/_ldavis.html") %>
      <%= render "shared/ldavis.html" %>
    <% end %>
  </div>
</div>