<<<<<<< HEAD
<%= Gon::Base.render_data %>
<%= include_gon(:init => true) %>
<div class="search_list"></div>
=======

<%= render "shared/section" %>
<%= include_gon(:init => true) %>
<div class="search_list"></div>
>>>>>>> fa41961 (add search_list search data)
